<div>
  @if (currencySafeZones$ | async; as currencySafeZones) {
    <div class="inline-block me-4">
      <label>Currency: </label>
      <nz-select [ngModel]="selectedCurrency" (ngModelChange)="onCurrencyChange($event)">
        @for (currencySafeZone of currencySafeZones; track $index) {
          <nz-option [nzLabel]="currencySafeZone.currency" [nzValue]="currencySafeZone.currency"></nz-option>
        }
      </nz-select>
    </div>
  }
  <div class="inline-block">
    <label>Page Size: </label>
    <nz-select [ngModel]="currentPageSize" (ngModelChange)="onPageSizeChange($event)">
      @for (size of [20, 30, 50, 100, 200]; track $index) {
        <nz-option [nzLabel]="size" [nzValue]="size"></nz-option>
      }
    </nz-select>
  </div>
</div>
<div class="max-h-full mx-auto pb-8">
  <canvas #priceChartEl></canvas>
</div>
