<div>
  @if (currencySafeZones$ | async; as currencySafeZones) {
    <div class="inline-block me-4">
      <label>Currency: </label>
      <nz-select [nzShowSearch]="true" [ngModel]="selectedCurrency" (ngModelChange)="onCurrencyChange($event)">
        @for (currencySafeZone of currencySafeZones; track $index) {
          <nz-option [nzLabel]="currencySafeZone.currency" [nzValue]="currencySafeZone.currency"></nz-option>
        }
      </nz-select>
    </div>
  }
  <div class="inline-block">
    <label>Load market data from: </label>
    <nz-time-picker (ngModelChange)="onStartTimeChange($event)" [ngModel]="startTimeChart"
                    nzPlaceHolder="Select start time"></nz-time-picker>
  </div>
</div>
<div class="max-h-full mx-auto pb-8">
  <canvas #priceChartEl></canvas>
</div>
