@import "colors";

// -------- Colors -----------
// >>> Primary
@primary-color: @indigo-5;
@item-active-bg: @indigo-4;
@item-hover-bg: @indigo-3;
@processing-color: @primary-color;
// >>> Info
@info-color: @primary-color;
// >>> Success
@success-color: @green-6;
// >>> Warning
@warning-color: @yellow-6;
// >>> Error
@error-color: @red-5;
@highlight-color: @red-5;
// Background color for `<body>`
@body-background: @gray-9;
// Base background color for most components
@component-background: @gray-8;
@font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
@text-color: @zinc-1;
@text-color-secondary: @zinc-3;
@text-color-inverse: @zinc-10;
@icon-color-hover: @zinc-2;
@heading-color: @zinc-2;
@font-size-base: 12px;
@font-size-sm: 10px;
@line-height-base: 1.53;
@border-radius-base: 4px;
// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;
// Border color
@border-color-base: @gray-1;
@border-color-split: @gray-2;

@background-color-light: @gray-1;
@background-color-base: @gray-2;

// Rate
@rate-star-color: @amber-5;
@rate-star-size: 12px;
@rate-star-hover-scale: scale(1.1);

// Layout
@layout-body-background: @zinc-8;
@layout-header-background: @zinc-8;
@layout-header-height: 64px;
@layout-header-padding: 0 50px;
@layout-footer-padding: 24px 50px;
@layout-footer-background: @layout-body-background;
@layout-sider-background: @zinc-9;
@layout-trigger-height: 48px;
@layout-trigger-background: @zinc-7;
@layout-trigger-color: @zinc-8;
@layout-zero-trigger-width: 36px;
@layout-zero-trigger-height: 42px;
// Layout light theme
@layout-sider-background-light: @gray-1;
@layout-trigger-background-light: @gray-1;


// Table
@table-bg: @gray-8;
@table-header-bg: @gray-7;
@table-header-color: @gray-2;
@table-body-sort-bg: @gray-8;
@table-row-hover-bg: @gray-6;
@table-selected-row-bg: @yellow-6;
@table-expanded-row-bg: @gray-7;
@table-border-color: @gray-3;
@table-footer-bg: @background-color-light;
@table-footer-color: @heading-color;
@table-header-cell-split-color: rgba(0, 0, 0, 0.06);
// Filter
@table-header-filter-active-bg: transparent;
@table-filter-dropdown-bg: @gray-7;
@table-selection-column-width: @height-sm;

// Dropdown
@dropdown-selected-color: @primary-color;
@dropdown-menu-submenu-disabled-bg: @gray-6;
@dropdown-selected-bg: @item-active-bg;
@dropdown-selected-color: @neutral-0;
@dropdown-selected-bg: @indigo-4;
@dropdown-menu-bg: @gray-7;

// Modal
@modal-header-bg: @gray-8;
@modal-header-border-color-split: @gray-5;
@modal-content-bg: @gray-8;
@modal-heading-color: @gray-0;
@modal-close-color: @text-color-secondary;
@modal-footer-border-color-split: @gray-5;
