@if (orders$ | async; as actions) {
  <nz-table nzBordered
            [nzData]="actions"
            [nzTotal]="actions.length"
            [nzPageSize]="actions.length"
            nzNoResult="There was no result"
            nzPaginationType="small"
            nzHideOnSinglePage>
    <thead>
    <tr>
      @for (header of headers; track header.fieldId) {
        @if (header.isActive) {
          <th [nzSortOrder]="header.sortOrder"
              [nzSortFn]="header.sortFn"
              [nzSortDirections]="header.sortDirections"
              [nzFilterMultiple]="header.filterMultiple"
              [nzFilters]="header.listOfFilter"
              [nzFilterFn]="header.filterFn"
              class="px-2 capitalize border-b border-neutral-100 border-solid">
            {{ header.fieldName }}
          </th>
        }
      }
    </tr>
    </thead>
    <tbody>
      @for (action of actions; track $index) {
        <tr [ngClass]="{
        'text-teal-500': action.spotAction === 'buy',
        'text-rose-500': action.spotAction === 'sell'
        }">
          <td class="border-b border-solid border-gray-600 px-2 uppercase">{{ action.spotAction }}</td>
          <td class="border-b border-solid border-gray-600 px-2 uppercase">{{ action.currency }}</td>
          <td class="border-b border-solid border-gray-600 px-2">{{ action.amount | number: '1.0-15' }}</td>
          <td class="border-b border-solid border-gray-600 px-2">{{ action.fee | number: '1.0-15' }}</td>
          <td class="border-b border-solid border-gray-600 px-2">₮{{
              action.quoteAmountUsed | number: '1.2-15'
            }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{ action.spotTarget | number: '1.0-15' }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{
              action.createdAt | date: 'yyyy/MM/dd HH:mm:ss'
            }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{
              action.filledAt | date: 'yyyy/MM/dd HH:mm:ss'
            }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{
              action.canceledAt | date: 'yyyy/MM/dd HH:mm:ss'
            }}
          </td>
          <td [ngClass]="{
            'text-teal-500': action.status === 'FILLED',
            'text-yellow-500': action.status === 'PENDING',
            'text-orange-500': action.status === 'PENDING_PLACEMENT',
            'text-rose-500': action.status === 'CANCELED',
          }" class="border-b border-solid border-gray-600 px-2 uppercase">{{ action.status }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{
              action.placedAt | date: 'yyyy/MM/dd HH:mm:ss'
            }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{
              action.binancePrice | number: '1.0-15'
            }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{ action.ompBestBid | number: '1.0-15' }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{ action.ompBestAsk | number: '1.0-15' }}
          </td>
          <td class="border-b border-solid border-gray-600 px-2">{{
              action.maximumProfitPerUnit | number: '1.0-15'
            }}
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
}
