@if (isDesktop) {
  <nz-space nzSize="large" nzDirection="vertical">
    <div *nzSpaceItem>
      <nz-space nzSize="large">
        <nz-space *nzSpaceItem nzAlign="center">
          <label *nzSpaceItem>Page Size:</label>
          <nz-select (ngModelChange)="changePageSize($event)" *nzSpaceItem [ngModel]="currentPageSize"
                     nzPlaceHolder="Page Size">
            @for (pageSize of [20, 40, 60, 80, 100]; track $index) {
              <nz-option [nzLabel]="pageSize" [nzValue]="pageSize" [nzKey]="pageSize"></nz-option>
            }
          </nz-select>
        </nz-space>
        <nz-space *nzSpaceItem nzAlign="center">
          <label *nzSpaceItem>Auto Reload Interval:</label>
          <nz-select (ngModelChange)="changeAutoReloadInterval($event)" *nzSpaceItem
                     [ngModel]="selectedAutoReloadInterval"
                     nzPlaceHolder="Auto Reload Interval">
            @for (interval of [1000, 2000, 3000, 5000, 10000]; track $index) {
              <nz-option [nzLabel]="interval" [nzValue]="interval" [nzKey]="interval"></nz-option>
            }
          </nz-select>
        </nz-space>
      </nz-space>
    </div>
    <nz-table (nzPageIndexChange)="changePageIndex($event)"
              *nzSpaceItem
              [nzData]="arbitragesData"
              [nzLoadingDelay]="1000"
              [nzLoading]="isArbitragesLoading$ | async"
              [nzPageIndex]="currentPage"
              [nzPageSizeOptions]="[20,40,60,80,100]"
              [nzPageSize]="currentPageSize"
              nzBordered
              nzOuterBordered
              [nzShowPagination]="true"
              [nzShowQuickJumper]="true"
              nzShowSizeChanger>
      <thead>
      <tr>
        <th>Currency</th>
        <th>Profit</th>
        <th>Profit (USDT)</th>
        <th>Side</th>
        <th>Status</th>
        <th>Create</th>
        <th>Placed (BUY)</th>
        <th>Canceled (BUY)</th>
        <th>Canceled (SELL)</th>
        <th>Filled (BUY)</th>
        <th>Filled (SELL)</th>
        <th>Buy Target</th>
        <th>Buy Volume</th>
        <th>Sell Target</th>
        <th>Sell Volume</th>
      </tr>
      </thead>
      <tbody>
        @for (arbitrage of arbitragesData; track arbitrage.id) {
          <tr>
            <td class="whitespace-nowrap">
              <img [ngSrc]="arbitrage.currencyBaseLogo ?? 'not found'" width="24" height="24" alt="currency logo"
                   class="me-2 align-middle overflow-clip rounded-full object-cover inline-block">
              <span>{{ arbitrage.currencyBase }}</span>
            </td>
            <td>{{arbitrage.profit | number: '1.2-5'}}</td>
            <td>{{arbitrage.profitUsdt | number: '1.2-4'}}</td>
            <td class="whitespace-nowrap" [ngClass]="{
                  'text-rose-400': arbitrage.status.side === 'BUY',
                  'text-teal-500': arbitrage.status.side === 'SELL'
                }">
              <i class="fa-solid me-2" [ngClass]="{
                  'fa-inbox-out': arbitrage.status.side === 'BUY',
                  'fa-inbox-in': arbitrage.status.side === 'SELL'
                }"></i>
              <span class="me-2">{{ arbitrage.status.side }}</span>
            </td>
            <td nzAlign="center">
              <i class="fa-solid me-2" [ngClass]="{
                  'fa-circle-check text-teal-500': arbitrage.status.status === 'FILLED',
                  'fa-spinner-third text-amber-500 animate-spin': arbitrage.status.status === 'PLACED',
                  'fa-circle-xmark text-rose-400': arbitrage.status.status === 'CANCELED'
                }"></i>
            </td>
            <td [style]="{'font-size': '.8em'}">{{arbitrage.createdAt | fixedDate}}</td>
            <td [style]="{'font-size': '.8em'}">{{arbitrage.buyPlacedAt | fixedDate}}</td>
            <td [style]="{'font-size': '.8em'}">{{arbitrage.buyCanceledAt | fixedDate}}</td>
            <td [style]="{'font-size': '.8em'}">{{arbitrage.sellCanceledAt | fixedDate}}</td>
            <td [style]="{'font-size': '.8em'}">{{arbitrage.buyFilledAt | fixedDate}}</td>
            <td [style]="{'font-size': '.8em'}">{{arbitrage.sellFilledAt | fixedDate}}</td>
            <td>{{ arbitrage.buyTarget | number: '1.2-8' }}</td>
            <td>{{ arbitrage.buyVolume | number: '1.2-4' }}</td>
            <td>{{ arbitrage.sellTarget | number: '1.2-8' }}</td>
            <td>{{ arbitrage.sellVolume | number: '1.2-4' }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-space>
} @else {
  <nz-space style="display: block" nzSize="middle" nzDirection="vertical">
    @for (arbitrage of arbitragesData; track $index) {
      <nz-card *nzSpaceItem [nzTitle]="cardTitle" [nzExtra]="cardExtra">
        <nz-card-meta
          [nzDescription]="cardDescription"
        ></nz-card-meta>
        <ng-template #cardTitle>
          <img [src]="arbitrage.currencyBaseLogo" width="24" height="24"
               class="inline-block align-middle w-6 h-6 object-cover overflow-clip rounded-full" alt="currency logo">
          <strong class="ms-2">{{arbitrage.currencyBase}}</strong>
        </ng-template>
        <ng-template #cardExtra>
          <span>{{ arbitrage.createdAt | fixedDate }}</span>
        </ng-template>
        <ng-template #cardDescription>
          <i class="fa-solid me-2" [ngClass]="{
            'fa-inbox-out text-rose-400': arbitrage.status.side === 'BUY',
            'fa-inbox-in text-teal-500': arbitrage.status.side === 'SELL'
          }"></i>
          <span class="me-2">{{arbitrage.status.side}}</span>
          <i class="fa-solid me-2" [ngClass]="{
            'fa-circle-check text-teal-500': arbitrage.status.status === 'FILLED',
            'fa-spinner-third animate-spin text-amber-500': arbitrage.status.status === 'PLACED',
            'fa-circle-xmark text-rose-400': arbitrage.status.status === 'CANCELED'
          }"></i>
          <span>{{arbitrage.status.status}}</span>
        </ng-template>
        <div class="mt-4" nz-row nzJustify="space-around">
          <div nz-col nzSpan="12">
            <div class="mb-2">
              <i class="me-2 fa-solid fa-money-bill-wave text-rose-400"></i>
              <strong class="text-rose-400">Ask</strong>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ arbitrage.buyTarget | number: '1.2-8' }}</span>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-basket-shopping"></i>
              <span>{{ arbitrage.buyVolume | number: '1.2-8' }}</span>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-circle-dollar"></i>
              <span>{{ arbitrage.buyTotalUsdt | number: '1.2-8' }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-2">
              <i class="me-2 fa-solid fa-hand-holding-dollar text-teal-500"></i>
              <strong class="text-teal-500">Bid</strong>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ arbitrage.sellTarget | number: '1.2-8' }}</span>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-basket-shopping"></i>
              <span>{{ arbitrage.sellVolume | number: '1.2-8' }}</span>
            </div>
          </div>
        </div>
      </nz-card>
    }
  </nz-space>
}
