<desktop>
  <nz-space nzDirection="vertical">
    <div *nzSpaceItem>
      <nz-space>
        <button *nzSpaceItem [nzDropdownMenu]="menu" nz-button nz-dropdown nzPlacement="bottomLeft">Selected Columns
        </button>
        <nz-space *nzSpaceItem nzAlign="center">
          <label *nzSpaceItem>Date Format:</label>
          <nz-select (ngModelChange)="selectedDateFormat.set($event)" *nzSpaceItem [ngModel]="selectedDateFormat()"
                     nzPlaceHolder="Date Format">
            @for (dateFormat of dateFormats; track $index) {
              <nz-option [nzLabel]="dateFormat.label" [nzValue]="dateFormat.value"
                         [nzKey]="dateFormat.value"></nz-option>
            }
          </nz-select>
        </nz-space>
        <nz-space *nzSpaceItem nzAlign="center">
          <label *nzSpaceItem>Page Size:</label>
          <nz-select (ngModelChange)="changePageSize($event)" *nzSpaceItem [ngModel]="currentPageSize()"
                     nzPlaceHolder="Page Size">
            @for (pageSize of pageSizes; track $index) {
              <nz-option [nzLabel]="pageSize" [nzValue]="pageSize" [nzKey]="pageSize"></nz-option>
            }
          </nz-select>
        </nz-space>
        <nz-space *nzSpaceItem nzAlign="center">
          <label *nzSpaceItem>Auto Reload Interval:</label>
          <nz-select (ngModelChange)="changeAutoReloadInterval($event)" *nzSpaceItem
                     [ngModel]="selectedAutoReloadInterval()"
                     nzPlaceHolder="Auto Reload Interval">
            @for (interval of [1000, 2000, 3000, 5000, 10000]; track $index) {
              <nz-option [nzLabel]="interval" [nzValue]="interval" [nzKey]="interval"></nz-option>
            }
          </nz-select>
        </nz-space>
      </nz-space>
    </div>
    <nz-table (nzPageIndexChange)="changePageIndex($event)"
              *nzSpaceItem
              [nzData]="arbitragesData"
              [nzLoadingDelay]="1000"
              [nzLoading]="isArbitragesLoading$ | async"
              [nzPageIndex]="currentPage()"
              [nzPageSizeOptions]="pageSizes"
              [nzPageSize]="currentPageSize()"
              [nzNoResult]="noResult"
              nzBordered
              nzOuterBordered
              [nzShowPagination]="true"
              [nzShowQuickJumper]="true"
              nzShowSizeChanger>
      <thead>
      <tr>
        @for (header of arbitragesTableConstant(); track header.columnKey) {
          <th [nzSortFn]="header.sortFn"
              [nzShowSort]="header.showSort"
              [nzSortDirections]="header.sortDirections"
              [nzShowFilter]="header.showFilter"
              [class.hidden]="!header.isVisible"
              nzAlign="center">{{ header.title }}
          </th>
        }
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let arbitrage of arbitragesData">
        @for (cell of arbitragesTableConstant(); track cell.columnKey) {
          @switch (cell.valueType) {
            @case ('currency') {
              <td [class.hidden]="!cell.isVisible" nzAlign="center" class="whitespace-nowrap">
                <img [src]="arbitrage.currencyBaseLogo" width="24" height="24" alt="currency logo"
                     class="me-2 align-middle overflow-clip rounded-full object-cover inline-block">
                <span>{{ arbitrage.currencyBase }}</span>
              </td>
            }
            @case ('number') {
              <td [class.hidden]="!cell.isVisible"
                  nzAlign="center">{{ arbitrage[cell.columnKey] | number: cell.digitsInfo ?? '1.2-2' }}
              </td>
            }
            @case ('date') {
              <td [class.hidden]="!cell.isVisible"
                  nzAlign="center">{{ arbitrage[cell.columnKey] | date: selectedDateFormat() }}
              </td>
            }
            @case ('enum') {
              <td [class.hidden]="!cell.isVisible" class="whitespace-nowrap">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-inbox-out text-rose-400': arbitrage.status.side === 'BUY',
                  'fa-inbox-in text-teal-500': arbitrage.status.side === 'SELL'
                }"></i>
                <span class="me-2">{{ arbitrage.status.side }}</span>
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-circle-check text-teal-500': arbitrage.status.status === 'FILLED',
                  'fa-circle-xmark text-rose-400': arbitrage.status.status === 'CANCELED'
                }"></i>
                <span>{{ arbitrage.status.status }}</span>
              </td>
            }
            @default {
              <td [class.hidden]="!cell.isVisible" nzAlign="center">{{ arbitrage[cell.columnKey] }}
              </td>
            }
          }
        }
      </tr>
      </tbody>
    </nz-table>
  </nz-space>
</desktop>
<mobile>
  <nz-space style="display: block" nzSize="middle" nzDirection="vertical">
    @for (arbitrage of arbitragesData; track $index) {
      <nz-card *nzSpaceItem [nzTitle]="cardTitle" [nzExtra]="cardExtra">
        <nz-card-meta
            [nzDescription]="cardDescription"
        ></nz-card-meta>
        <ng-template #cardTitle>
          <img [src]="arbitrage.currencyBaseLogo" width="24" height="24"
               class="inline-block align-middle w-6 h-6 object-cover overflow-clip rounded-full" alt="currency logo">
          <strong class="ms-2">{{arbitrage.currencyBase}}</strong>
        </ng-template>
        <ng-template #cardExtra>
          <span>{{ arbitrage.createdAt | date: 'YY/M/dd HH:mm:ss' }}</span>
        </ng-template>
        <ng-template #cardDescription>
          <i class="fa-solid me-2" [ngClass]="{
            'fa-inbox-out text-rose-400': arbitrage.status.side === 'BUY',
            'fa-inbox-in text-teal-500': arbitrage.status.side === 'SELL'
          }"></i>
          <span class="me-2">{{arbitrage.status.side}}</span>
          <i class="fa-solid me-2" [ngClass]="{
            'fa-circle-check text-teal-500': arbitrage.status.status === 'FILLED',
            'fa-circle-xmark text-rose-400': arbitrage.status.status === 'CANCELED'
          }"></i>
          <span>{{arbitrage.status.status}}</span>
        </ng-template>
        <div class="mt-4" nz-row nzJustify="space-around">
          <div nz-col nzSpan="12">
            <div class="mb-2">
              <i class="me-2 fa-solid fa-money-bill-wave text-rose-400"></i>
              <strong class="text-rose-400">Ask</strong>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ arbitrage.buyTarget | number: '1.2-8' }}</span>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-basket-shopping"></i>
              <span>{{ arbitrage.buyVolume | number: '1.2-8' }}</span>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-circle-dollar"></i>
              <span>{{ arbitrage.buyTotalUsdt | number: '1.2-8' }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-2">
              <i class="me-2 fa-solid fa-hand-holding-dollar text-teal-500"></i>
              <strong class="text-teal-500">Bid</strong>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ arbitrage.sellTarget | number: '1.2-8' }}</span>
            </div>
            <div class="mb-1">
              <i class="me-2 fa-solid fa-basket-shopping"></i>
              <span>{{ arbitrage.sellVolume | number: '1.2-8' }}</span>
            </div>
          </div>
        </div>
      </nz-card>
    }
  </nz-space>
</mobile>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <nz-space nzDirection="vertical">
      @for (column of arbitragesTableConstant(); track $index) {
        <li *nzSpaceItem>
          <label nz-checkbox [ngModel]="column.isVisible"
                 (ngModelChange)="changeColumnVisibility($event, column.columnKey)">{{ column.title }}</label>
        </li>
      }
    </nz-space>
  </ul>
</nz-dropdown-menu>
<ng-template #noResult>
  <div class="flex w-full justify-center">
    <ng-lottie [options]="{path: 'assets/lottie-animations/loading.json'}" height="150px" width="150px"></ng-lottie>
  </div>
</ng-template>
