<desktop>
  <nz-layout class="max-h-full">
    <nz-sider (nzCollapsedChange)="isSideMenuCollapsed.set($event)"
              [nzCollapsedWidth]="62"
              [nzCollapsed]="isSideMenuCollapsed()"
              nzCollapsible>
      <app-slider-menu></app-slider-menu>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <nz-page-header [nzBackIcon]="backIcon" [nzGhost]="true" [nzTitle]="pageTitle()">
        </nz-page-header>
      </nz-header>
      <nz-divider></nz-divider>
      <nz-content class="p-2 overflow-scroll custom-scroll-bar">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-divider></nz-divider>
      <nz-footer>
        <div class="text-center">by Hamed Arghavan | April 2024</div>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</desktop>
<mobile>
  <nz-layout>
    <nz-header>
      <nz-page-header [nzBackIcon]="backIcon" [nzGhost]="true" [nzTitle]="pageTitle()">
      </nz-page-header>
    </nz-header>
    <nz-content class="p-2 overflow-scroll custom-scroll-bar">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-divider></nz-divider>
    <nz-footer>
      <app-bottom-navigation></app-bottom-navigation>
    </nz-footer>
  </nz-layout>
</mobile>

<ng-template #backIcon>
  <i class="fa-solid fa-chevron-left text-gray-100"></i>
</ng-template>

<nz-modal [nzClosable]="false" [nzMaskClosable]="false" [nzVisible]="isAuthTokenAvailable$ | async" nzCentered>
  <ng-container *nzModalTitle>
    <span>Authentication Token</span>
  </ng-container>
  <ng-container *nzModalContent>
    <form (ngSubmit)="submitToken()" nz-form>
      <nz-form-item>
        <nz-form-label nzRequired>Enter OMP authentication token</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTip" nzHasFeedback>
          <input [formControl]="ompfinexToken" id="token" name="token" nz-input type="text">
        </nz-form-control>
        <ng-template #errorTip>
          @if (ompfinexToken.errors?.['required']) {
            For most functionalities you need to provide a token.
          }
        </ng-template>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-container *nzModalFooter>
    <button (click)="submitToken()" [disabled]="ompfinexToken.invalid"
            [nzLoading]="ompfinexAuthTokenSubmitLoading$ | async"
            nz-button nzType="primary">Submit
    </button>
  </ng-container>
</nz-modal>
