<desktop>
  <nz-table>
    <thead>
    <tr>
      <th [class.hidden]="!orderTableHeader.get('spotAction')">Action</th>
      <th [class.hidden]="!orderTableHeader.get('currency')">Currency</th>
      <th [class.hidden]="!orderTableHeader.get('amount')">Volume</th>
      <th [class.hidden]="!orderTableHeader.get('fee')">Fee</th>
      <th [class.hidden]="!orderTableHeader.get('quoteAmountUsed')">Quote Amount Used</th>
      <th [class.hidden]="!orderTableHeader.get('spotTarget')">Target</th>
      <th [class.hidden]="!orderTableHeader.get('providerOrderId')">Order Id</th>
      <th [class.hidden]="!orderTableHeader.get('status')">Status</th>
      <th [class.hidden]="!orderTableHeader.get('createdAt')">Created At</th>
      <th [class.hidden]="!orderTableHeader.get('canceledAt')">Canceled At</th>
      <th [class.hidden]="!orderTableHeader.get('filledAt')">Filled At</th>
      <th [class.hidden]="!orderTableHeader.get('placedAt')">Placed At</th>
    </tr>
    </thead>
    <tbody>
      @for (order of ordersData; track $index) {
        <tr>
          <td [class.hidden]="!orderTableHeader.get('spotAction')">{{ order.spotAction }}</td>
          <td [class.hidden]="!orderTableHeader.get('currency')">
            <img [src]="order.currencyLogo" [alt]="order.currency + ' logo'">
            <span class="ms-2">{{ order.currency }}</span>
          </td>
          <td [class.hidden]="!orderTableHeader.get('amount')">{{ order.amount | number: '1.2-8' }}</td>
          <td [class.hidden]="!orderTableHeader.get('fee')">{{ order.fee | number: '1.2-8' }}</td>
          <td [class.hidden]="!orderTableHeader.get('quoteAmountUsed')">{{ order.quoteAmountUsed | number: '1.2-10' }}
          </td>
          <td [class.hidden]="!orderTableHeader.get('spotTarget')">{{ order.spotTarget | number: '1.2-8' }}</td>
          <td [class.hidden]="!orderTableHeader.get('providerOrderId')">{{ order.providerOrderId }}</td>
          <td [class.hidden]="!orderTableHeader.get('status')">{{ order.status }}</td>
          <td [class.hidden]="!orderTableHeader.get('createdAt')">{{ order.createdAt | date: 'YY/M/dd HH:mm:ss' }}</td>
          <td [class.hidden]="!orderTableHeader.get('canceledAt')">{{ order.canceledAt | date: 'YY/M/dd HH:mm:ss' }}
          </td>
          <td [class.hidden]="!orderTableHeader.get('filledAt')">{{ order.filledAt | date: 'YY/M/dd HH:mm:ss' }}</td>
          <td [class.hidden]="!orderTableHeader.get('placedAt')">{{ order.placedAt | date: 'YY/M/dd HH:mm:ss' }}</td>
        </tr>
      }
    </tbody>
  </nz-table>
</desktop>
<mobile>
  <nz-space nzDirection="vertical" nzSize="middle" style="display: block">
    @for (order of ordersData; track $index) {
      <nz-card *nzSpaceItem [nzTitle]="cardTitle" [nzExtra]="cardExtra">
        <nz-card-meta
          [nzDescription]="cardDescription"
        ></nz-card-meta>
        <ng-template #cardTitle>
          <img [src]="order.currencyLogo" width="24" height="24"
               class="inline-block align-middle w-6 h-6 object-cover overflow-clip rounded-full" alt="currency logo">
          <strong class="ms-2">{{ order.currency }}</strong>
        </ng-template>
        <ng-template #cardExtra>
          <span>{{ order.createdAt | date: 'YY/M/dd HH:mm:ss' }}</span>
        </ng-template>
        <ng-template #cardDescription>
          <i class="fa-solid me-2" [ngClass]="{
            'fa-circle-check text-teal-500': order.status === 'FILLED',
            'fa-circle-xmark text-rose-400': order.status === 'CANCELED'
          }"></i>
          <span>{{ order.status }}</span>
        </ng-template>
        <div class="mt-4" nz-row nzJustify="space-around">
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ order.createdAt | date: 'YY/M/dd HH:mm:ss' }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ order.canceledAt | date: 'YY/M/dd HH:mm:ss' }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ order.filledAt | date: 'YY/M/dd HH:mm:ss' }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-bullseye-arrow"></i>
              <span>{{ order.placedAt | date: 'YY/M/dd HH:mm:ss' }}</span>
            </div>
          </div>
        </div>
      </nz-card>
    }
  </nz-space>
</mobile>
