@if (isDesktop) {
  <div class="mb-4">
    <nz-space nzSize="large">
      <nz-space *nzSpaceItem nzAlign="center">
        <label *nzSpaceItem>Page Size:</label>
        <nz-select (ngModelChange)="changePageSize($event)" *nzSpaceItem [ngModel]="currentPageSize"
                   nzPlaceHolder="Page Size">
          @for (pageSize of [20, 35, 50, 100]; track $index) {
            <nz-option [nzLabel]="pageSize" [nzValue]="pageSize" [nzKey]="pageSize"></nz-option>
          }
        </nz-select>
      </nz-space>
      <nz-space *nzSpaceItem nzAlign="center">
        <label *nzSpaceItem>Auto Reload Interval:</label>
        <nz-select (ngModelChange)="changeAutoReloadInterval($event)" *nzSpaceItem
                   [ngModel]="selectedAutoReloadInterval"
                   nzPlaceHolder="Auto Reload Interval">
          @for (interval of [1000, 2000, 3000, 5000, 10000]; track $index) {
            <nz-option [nzLabel]="interval" [nzValue]="interval" [nzKey]="interval"></nz-option>
          }
        </nz-select>
      </nz-space>
    </nz-space>
  </div>
  <nz-table *nzSpaceItem
            [nzData]="ordersData"
            [nzLoading]="isOrdersLoading$ | async"
            [nzLoadingDelay]="1000"
            [nzPageSize]="currentPageSize"
            [nzPageIndex]="currentPage"
            [nzTotal]="totalPages"
            [nzPageSizeOptions]="[20,40,60,80,100]"
            (nzQueryParams)="onQueryParamsChange($event)"
            (nzPageIndexChange)="changePageIndex($event)"
            [nzShowPagination]="true"
            [nzShowQuickJumper]="true"
            [nzFrontPagination]="false"
            nzOuterBordered
            nzBordered
            nzShowSizeChanger>
    <thead>
    <tr>
      <th>Currency</th>
      <th>Action</th>
      <th>Volume</th>
      <th>Fee</th>
      <th>Value</th>
      <th>Target</th>
      <!-- <th>Order Id</th> -->
      <th>Status</th>
      <th>Created At</th>
      <th>Placed At</th>
      <th>Canceled At</th>
      <th>Filled At</th>
    </tr>
    </thead>
    <tbody>
      @for (order of ordersData; track $index) {
        <tr>
          <td>
            <img [ngSrc]="order.currencyLogo ?? 'not found'" width="24" height="24" alt="currency logo"
                 class="me-2 align-middle overflow-clip rounded-full object-cover inline-block">
            <span>{{ order.currency }}</span>
          </td>
          <td>{{ order.spotAction }}</td>
          <td>{{ order.amount | number: '1.2-8' }}</td>
          <td>{{ order.fee | number: '1.2-8' }}</td>
          <td>{{ order.quoteAmountUsed | number: '1.2-3' }}
          </td>
          <td>{{ order.spotTarget | number: '1.2-8' }}</td>
          <!-- <td>{{ order.providerOrderId }}</td> -->
          <td [ngClass]="{
              'text-teal-500': order.status === 'FILLED',
              'text-rose-400': order.status === 'CANCELED',
              'text-amber-500': order.status === 'PLACED',
              'text-orange-500': order.status === 'PENDING_PLACEMENT',
            }">
            <i class="fa-solid me-2" [ngClass]="{
              'fa-circle-check': order.status === 'FILLED',
              'fa-circle-xmark': order.status === 'CANCELED',
              'fa-hourglass': order.status === 'PLACED',
              'fa-spinner animate-spin': order.status === 'PENDING_PLACEMENT',
            }"></i>
            <span>{{ order.status }}</span>
          </td>
          <td [style]="{'font-size': '.8em'}">{{ order.createdAt | fixedDate }}</td>
          <td [style]="{'font-size': '.8em'}">{{ order.placedAt | fixedDate }}</td>
          <td [style]="{'font-size': '.8em'}">{{ order.canceledAt | fixedDate }}</td>
          <td [style]="{'font-size': '.8em'}">{{ order.filledAt | fixedDate }}</td>
        </tr>
      }
    </tbody>
  </nz-table>
} @else {
  <nz-space nzDirection="vertical" nzSize="middle" style="display: block">
    @for (order of ordersData; track $index) {
      <nz-card *nzSpaceItem [nzTitle]="cardTitle" [nzExtra]="cardExtra">
        <nz-card-meta
          [nzDescription]="cardDescription"
        ></nz-card-meta>
        <ng-template #cardTitle>
          <img [ngSrc]="order.currencyLogo ?? 'not found'" width="24" height="24"
               class="inline-block align-middle w-6 h-6 object-cover overflow-clip rounded-full" alt="currency logo">
          <strong class="ms-2">{{ order.currency }}</strong>
        </ng-template>
        <ng-template #cardExtra>
          <strong
            [ngClass]="{'text-teal-500': order.spotAction === 'SPOTBUY', 'text-rose-400': order.spotAction === 'SPOTSELL'}">{{ order.spotAction }}</strong>
        </ng-template>
        <ng-template #cardDescription>
          <div [ngClass]="{
              'text-teal-500': order.status === 'FILLED',
              'text-rose-400': order.status === 'CANCELED',
              'text-amber-500': order.status === 'PLACED',
              'text-orange-500': order.status === 'PENDING_PLACEMENT',
            }">
            <i class="fa-solid me-2" [ngClass]="{
              'fa-circle-check': order.status === 'FILLED',
              'fa-circle-xmark': order.status === 'CANCELED',
              'fa-hourglass': order.status === 'PLACED',
              'fa-spinner animate-spin': order.status === 'PENDING_PLACEMENT',
            }"></i>
            <span>{{ order.status }}</span>
          </div>
        </ng-template>
        <div class="mt-4" nz-row nzJustify="space-around">
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-square-plus"></i>
              <span>{{ order.createdAt | fixedDate }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-xmark-circle"></i>
              <span>{{ order.canceledAt | fixedDate }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-fill"></i>
              <span>{{ order.filledAt | fixedDate }}</span>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="mb-1">
              <i class="me-2 fa-solid fa-location-crosshairs"></i>
              <span>{{ order.placedAt | fixedDate }}</span>
            </div>
          </div>
        </div>
      </nz-card>
    }
  </nz-space>
}
